body{
  background: #f0f2f5;
}

/*@media (min-width: 768px){*/
  .navbar{min-height:40px;padding: 0rem 0rem;margin-bottom:11px;}
  .navbar-nav>li>a{font-size:14px;padding-top:11px;padding-bottom:11px}
  .navbar-brand{padding-top:0;padding-bottom:0;line-height:42px;height:42px}
/*}*/
.w-10{
   width: 100px;
 }


.search-from{
  /*margin-top: 10px;*/
  /*margin-right: 10px;*/
  padding-top: 10px;
  padding-right: 10px;
}


.toolbar{

  padding-top: 5px;
}


/*自动适应*/
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}




